/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

LeafData_CREDENTIALS.md
CONSOLE_REPLAY.md
DATA_DUMP.md
WA_API.json
DataLeaf_VALIDATION.rb
DataLeaf_VALIDATION.txt

spec/mca_credentials.yml

spec/other_credentials.yml
